<div class="m-3">

  <h1>This is the answer</h1>

  <div class="comment">
    <h3>This is your question:</h3>
    <p><%= params[:question] %></p>
  </div>

  <br>

  <div class="comment">
    <h3>This is coach answer:</h3>
    <p><%= @answer %></p>
  </div>

  <br>

  <a href="ask">ask a new question</a>
</div>
